<div id="footer">
  <div class="tag">Photo by Ian Dorion</div>
<div class="social">
<a href="mailto:admin@madeindreams.ca" target="_blank"><img src="./assets/social/email.png" alt="email link" class="social-logo"></a>
<a href="https://twitter.com/MadeInDreamsCA" target="_blank"><img src="./assets/social/twitter.png" alt="email link" class="social-logo"></a>
<a href="https://www.reddit.com/user/madeindreams" target="_blank"><img src="./assets/social/reddit.png" alt="email link" class="social-logo"></a>
<a href="https://github.com/Madeindreams" target="_blank"><img src="./assets/social/github.png" alt="email link" class="social-logo"></a>
<a href="https://discord.gg/fqzvNSG" target="_blank"><img src="./assets/social/discord.png" alt="email link" class="social-logo"></a>
<a href="https://t.me/joinchat/UCoPdU6my_tLr7bIrQgD3g" target="_blank"><img src="./assets/social/telegram.png" alt="email link" class="social-logo"></a>
</div>
<div class="donatemsg">Donations</div>
<div class="donate"> 
    
    <div class="crypto"><img src="./assets/crypto/bitcoin-btc-logo.png" alt="donate bitcoin" (click)="copyMessage('13HhYDCPvtqv9pGTZbjVmZRVYEDzJ8MUsh')">
        <span class="tooltiptext">Click to copy address</span>
    </div>
    <div class="crypto"><img src="./assets/crypto/ethereum-eth-logo.png" alt="donate ethereum" (click)="copyMessage('0x6EC051607dd0ba7929844773291772D2E51646fD')">
        <span class="tooltiptext">Click to copy address</span>
    </div>
    
    <div class="crypto"><img src="./assets/crypto/tron-trx-logo.png" alt="donate trx" (click)="copyMessage('TJwA97rx8p9bvuTnon8Qs9XMZ5wE4r161s')">
    <span class="tooltiptext">Click to copy address</span>
    </div>
    
</div>
<div class=ssl-logo>
<a href="https://sectigo.com/trust-seal">
    <img class="ssl-img" src="https://sectigo.com/images/seals/sectigo_trust_seal_sm_2x.png" alt="Protected by Sectigo SSL"  />
</a>
</div>
</div>

